<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>

    <Directory Id="TARGETDIR" Name="SourceDir">

      <!--Start Menu-->
      <!--<Directory Id="ProgramMenuFolder">
        <Directory Id="ShortcutsMenuFolder" Name="!(loc.ProgramFilesFolder)"/>
      </Directory>-->
      
      <?if $(var.Platform) = x64 ?>
        <!--Program Files (64 Bit)-->
        <Directory Id="ProgramFiles64Folder">
          <Directory Id="INSTALLFOLDER" Name="!(loc.ProgramFilesFolder)">
            <Directory Id="LocalConfigsFolder" Name="Configs"/>
          </Directory>
        </Directory>
      <?else?>
        <!--Program Files (32 Bit)-->
        <Directory Id="ProgramFilesFolder">
          <Directory Id="INSTALLFOLDER" Name="!(loc.ProgramFilesFolder)">
            <Directory Id="LocalConfigFolder" Name="Configs"/>
          </Directory>
        </Directory>
      <?endif?>

      <Directory Id="CommonAppDataFolder">
        <Directory Id="CompanyNameFolder" Name="!(loc.CompanyNameFolder)">
          <Directory Id="ProductNameFolder" Name="!(loc.ProductNameFolder)">
            <Directory Id="CommonConfigsFolder" Name="!(loc.ConfigsFolderName)"/>
          </Directory>
        </Directory>
      </Directory>
   
    </Directory>
    
    
  </Fragment>
  
</Wix>
